<div class="comment">
  <p><strong><%= comment.user.name %>:</strong> <%= sanitize(comment.body, tags: []) %></p>
  <% if logged_in? && comment.user == current_user %>
    <%= button_to 'Delete', review_comment_path(comment.review, comment), method: :delete, class: 'btn btn--sm' %>
  <% end %>
</div>
