<div class="top-bar">
  <%= link_to "← Back to Books", books_path, class: "back-button" %>
  <%= link_to "My Library", library_entries_path, class: "btn" %>
</div>
<h1>My Reviews</h1>

<p>Signed in as <%= current_user.name %></p>

<% if @reviews.empty? %>
  <p>You haven’t posted any reviews yet.</p>
<% else %>
  <div class="review-grid">
    <% @reviews.each do |review| %>
      <%= render "review_card", review: review %>
    <% end %>
  </div>
<% end %>
